@import url('./styles/global.css');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

a {
  color: #1972A8;
  text-decoration: none;
}

input[type="text"], input[type="password"] {
  background-color: #FDFAFA;
  border: 1px solid #E8E8E8;
  height: 51px;
  border-radius: 8px;
  margin: 8px 0;
  padding: 0 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}