* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    font-size: 200%;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 20px;
}

