body {
    font-size: 200%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main, aside, footer {
    text-align: center;
    color: white;
}

header, footer {
    background-color: royalblue;
}

main {
    background-color: palevioletred;
    flex-grow: 1;
}

aside {
    background-color: peachpuff;
    color: black;
    flex-basis: 300px;
}

.container {
    display: flex;
    flex-grow: 1;
}

main, aside {
    display: flex;
    justify-content: center;
    align-items: center;
}