* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EFF5FF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: palevioletred;
}

.item {
    width: 250px;
    height: 40px;
    background-color: peachpuff;
    border-radius: 6px;
    border: 3px solid black;
    flex-grow: 1;
}

.item-1 {
    /* flex-grow: 2;
    flex-shrink: 0; */
    flex-basis: 600px;
}