.card {   
    display: inline;
    float: left;
    width: 250px;
    height: 250px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    -webkit-transform: scale(1.1);
   transform: scale(1.1);
}


  
.container {
    text-align: center;
}
 