* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    --cor-de-acento: #F04204;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

header {
    padding: 18px;
}

ul {
    list-style: none;
    gap: 15px;
}

ul .active {
    color: var(--cor-de-acento);
}

section {
    padding: 60px;
    gap: 30px;
}

section h1 {
    color: var(--cor-de-acento);
}

section button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    background-color: var(--cor-de-acento);
    color: #FFF;
    padding: 12px;
    align-self: flex-start;
}