body {
    padding: 50px;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.photo {
    background-color: #c3c3c3;

    padding: 12px;
    border-radius: 8px;

    font-family: sans-serif;
}