.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button {
  cursor: pointer;
  width: 100px;
}

nav {
  display: flex;
  gap: 12px;
}