header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 144px;
  color: #ffffff;
  width: 86%;
  padding: 0 4%;
  margin-bottom: 3.2rem;
}

.logo {
  width: 180px;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    margin: 2rem 0;
  }
}

@media (max-width: 540px) {
  .logo {
    margin: 3rem 0;
  }
  header {
    margin: 0;
  }
}