* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: #9AA6CF;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.container {
    width: 693px;
    height: 794px;
    background: #FFFFFF;
    box-shadow: 0px 34px 44px rgba(160, 181, 255, 0.28);
    border-radius: 10px;
    margin: 203px auto;
    padding: 70px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    width: 256px;
    height: 66px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.card h1 {
    width: 167px;
    height: 30px;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 10px;
}

.card p {
    width: 405px;
    height: 22px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 40px;
}

label {
    height: 19px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
}

.num {
    width: 92px;
}

.dt {
    width: 108px;
}

.cod {
    width: 94px;
}

input {
    padding: 25px;
    background: #FFFFFF;
    border: 1px solid #CED5EC;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
}

input:focus {
    border: 1px solid #5F82FF;
}

.card-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.card-date {
    display: flex;
    flex-direction: column;
}

.card-code {
    display: flex;
    flex-direction: column;
}

p {
    width: 533px;
    height: 48px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 27px;
}

button {
    width: 592px;
    height: 115px;
    background: #5F82FF;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    cursor: default;
}

button:hover {
    background: #093DF3;
}