* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: #EFF2F8;
    background-image: url(assets/background.png);
    background-position-x: center;
    background-repeat: no-repeat;
    font-family: 'Mulish', sans-serif;
}

.container {
    width: 739px;
    height: 442px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 375px auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px;
}

h1 {
    width: 285px;
    height: 28px;
    font-weight: 700;
    font-size: 22px;
    color: #000000;
    margin-bottom: 20px;
}

p {
    width: 557px;
    height: 50px;
    font-size: 18px;
    color: #000000;
    margin-bottom: 30px;
}

.endress {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

input {
    width: 510px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    color: #494949;
}

input:focus {
    border: 1px solid #272727;
}

button {
    width: 119px;
    height: 49px;
    background: #9677EF;
    border-radius: 5px;
    font-size: 18px;
    color: #FFFFFF;
}

button:hover {
    background: rgba(150, 119, 239, 0.8);
    box-shadow: 0px 11px 20px rgba(150, 119, 239, 0.3);
}

.guidelines {
    width: 631px;
    height: 135px;
    background: #F8F9FD;
    border-radius: 6px;
    padding: 30px 20px;
}

.guidelines h1 {
    width: 124px;
    height: 18px;
    font-weight: 700;
    font-size: 14px;
    color: #494949;
    margin-bottom: 15px;
}

span {
    width: 467px;
    height: 42px;
    font-size: 14px;
    color: #494949;
}