.App {
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 15px;
    gap: 15px;
  }
  
  .error {
    padding: 8px;
    background: rgb(250, 228, 226);
    color: rgb(189, 29, 17);
    border-radius: 8px;
  }
  
  .card {
    background-color: #b4b4b4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
  
  .card a {
    text-decoration: none;
    display: grid;
    place-content: center;
    padding: 0;
    margin-right: 30px;
  }
  
  .card b {
    margin-right: 8px;
  }