body {
    margin: 0; /*mesmo valor para todos os lados*/
}

div {
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 10px; /*serve para erredondar a borda*/
    padding: 10px;
}

.vermelho {
    background-color: red;
    margin-bottom: 10px;
}

.verde {
    background-color: green;
    margin-bottom: 10px;
}

.azul {
    background-color: blue;
}