body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.gato {
    position: relative;
    left: 50px;
}

.cao {
    position: relative;
    bottom: 50px;
}