footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  color: #ffffff;
  margin-top: 8rem;
  padding: 0 4%;
  width: 86%;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  border-right: 1px solid grey;
  padding-right: 2rem;
  width: 30%;
}

.footer-left p {
  width: 100%;
}

.footer-left img {
  width: 120px;
  cursor: pointer;
}

.footer-right {
  padding-left: 2rem;
  width: 70%;
}

.footer-right p {
  width: 100%;
}

@media (max-width:768px) {
  footer {
    flex-direction: column;
    height: auto;
  }
  .footer-left, .footer-right {
    border: none;
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
  }
  .footer-right {
    border-top: 1px solid grey;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
  }
}