body {
    background: #F2F5FE;
}

.card {
    margin: 20px auto;
    box-sizing: border-box;
    background: #FFFFFF;box-shadow: 0px 15px 30px -20px #D4DCF3;border-radius: 10px;
}

.card-light {
    background-color: #FFF;
    color: #101439;
}

.card-dark {
    background-color: #101439;
    color: #FFF;
}

.quote {
    padding: 60px 85px;
    max-width: 505px;
    margin-bottom: 126px;
}

.quote p {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    line-height: 36px;
    margin-bottom:38px;
}

.quote span, .alert span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2px;text-transform: uppercase;
}

.alert {
    padding: 60px;
    max-width: 430px;
}

.alert span {
    margin-bottom: 10px;
}

.alert h1 {
    font-family: 'Merriweather', serif;
    font-size: 22px;line-height: 32px;
    margin-bottom: 13px;
}

.alert p {
    font-family: 'Open Sans', sans-serif;font-size: 18px;line-height: 28px;
    margin-bottom: 55px;
}

.alert a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 10px;
    color: #101439;
    padding: 25px 100px;
}