<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        .bem-vindo {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 80px;
        }

        .container-email {
            width: 100%;
            padding: 40px;
            background: rgb(231, 231, 231);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .mensagem {
            width: 540px;
            padding: 62px;
            background: #FFFFFF;
            border: 2px solid gray;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 40px;
        }

        .mensagem p {
            text-align: center;
            margin-bottom: 54px;
        }

        .email {
            width: 400px;
            border: 1px solid gray;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .contatos {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }

        .market-cubos {
            width: 240px;
            padding: 12px;
            background: #FFFFFF;
            border: 1px solid gray;
        }

        .funcionario {
            width: 240px;
            padding: 12px;
            background: #FFFFFF;
            border: 1px solid gray;
        }
    </style>
    <title>Email</title>
</head>

<body>
    <h1 class="bem-vindo">Bem vindo, {{ nome }}</h1>
    <div class="container-email">
        <div class="mensagem">
            <p>Seu cadastro no Market Cubos foi criado com sucesso. Utilize o email abaixo para fazer o login no seu
                painel de controle.</p>
            <div class="email">
                <h4>{{ email }}</h4>
            </div>
        </div>
        <div class="contatos">
            <div class="market-cubos">
                <h3>Market Cubos</h3>
                <p>Marketplace Cubos Academy</p>
            </div>
            <div class="funcionario">
                <h3>Alessandra L. Luisi</h3>
                <p>Aluna</p>
            </div>
        </div>
    </div>
</body>

</html>