* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 20px;
    width: 430px;
    height: 400px;
}

.close-button {
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 8px;
}

.icon {
    margin-bottom: 30px;
}

.card p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.card button {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 134.19%;
    color: #FFFFFF;
}

.card button.cookie {
    background: #ED6755;
    box-shadow: 0px 4px 12px rgba(237, 103, 85, 0.5);
}

.card button.alert {
    background: #1C1B5E;
    box-shadow: 0px 4px 12px rgba(28, 27, 94, 0.5);
}