body {
    font-family: sans-serif;
    font-size: 150%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

div {
    display: flex;
    flex-direction: column;

    background-color: crimson;
    color: white;

    padding: 3rem;
    border-radius: 8px;
    margin-bottom: 15px;
}

div.escondida {
    display: none;
}

div b {
    margin-top: -1.5rem;
    margin-right: -1.5rem;
    margin-bottom: 1rem;

    align-self: flex-end;
    cursor: pointer;
}

button {
    font-size: 100%;
}