.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.content-home {
  margin-top: 40px;
  width: 80%;
}

.btn-adicionar {
  width: 200px;
  margin-bottom: 24px;
}