.container-modal-insert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  width: 394px;
  padding: 56px;
  background-color: #fffdfd;
  text-align: center;
  position: relative;
}

.container-modal-insert h2 {
  margin-bottom: 32px;
}

.close-icon {
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.buttons-confirm button {
  width: 100%;
}

.btn-confirm-insert {
  margin-top: 64px;
}

.btn-cancel-insert {
  margin-top: 8px;
}